<!-- Full-Width Hero Section -->
<%= render "shared/hero_section" %>

<!-- Tab-Based Content (Contained) -->
<div data-controller="tabs" data-tabs-default-value="comparisons">
  <%= render "shared/tab_navigation" %>
  <%= render "shared/comparison_tab_content", comparisons: @comparisons, pagy: @pagy, presenter: @presenter %>
  <%= render "shared/analyses_tab_content", repositories: @repositories %>
</div>

<%= render "shared/quick_action_bar" %>
